<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>
            About Page
        </title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is created by Manjunath kapu. It leverages mapbox and weatherstack API's.</p>
            <img src="/img/Me.png">
        </div>
        
        {{>footer}}
    </body>
</html>